<%= form_for @recipe, :html => { :class => "form-horizontal recipe" } do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div class="bord-lg">
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    <%=f.error_span(:name) %>

    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    <%=f.error_span(:description) %>

    </div>
  </div>
    <div class="form-group">
    <div class="col-lg-12 col-lg-offset-2">
            <%= f.collection_check_boxes :item_ids, Item.all, :id, :name do |cb| %>
            <%= cb.label(class: "checkbox-inline input_checkbox"){cb.check_box(class: "checkbox")+cb.text}%>
            <% end %>
    </div>

    <p class="lead">OR</p>
    <p>Add your own items</p>
      <div class="col-lg-10">
      <%= link_to "Add Recipe Items", new_item_path, class: 'btn btn-lg btn-primary' %>
      <%# f.text_field :item, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recipes_path, :class => 'btn btn-default' %>
    </div>
  </div>

  </div>

<% end %>
