<div class="pull-right">
<%= link_to "Add a recipe",
            new_recipe_path,
            :class => 'btn btn-primary white' %>
</div> 
<hr>
</br>
<div align="center">
<%= will_paginate %>
</div>
<% if @recipes.count > 0 %>
  <% @recipes.each do |recipe|%>
   <% if recipe.user_id != if defined? current_user.id  then current_user end %>
   <div class="col-xs-3 card border margin-10 shadow" style="width: 25rem;">
     <div class="card-block">
    <h4 class="card-title"><%= recipe.name %></h4>
    <p class="card-text" style="min-height: 125px;"><%= recipe.description.truncate_words(30) %></p>
    <hr class="no-padding">
    <% if recipe.items.any? %>
         <p class="no-padding no-margin ">
         <small class="muted col-md-12">Items: 

           <%= render recipe.items %>
         </small></p>
         <hr class="no-padding">
        <% end %>

        
        <hr class="no-padding">
    <p class="no-padding no-margin"><small class="muted">Steps: </small></p>
    <hr class="no-padding">

    <p class="no-padding no-margin"><small class="muted">Created: <%= time_ago_in_words(recipe.created_at) %> ago.</small></p>
    <p class="no-padding no-margin"><small class="muted">Author: <%=  recipe.user.full_name || "Anonymus" %></small></p>
    <hr>

        <% if current_user and current_user.not_following_chef?(recipe.user_id) and current_user.id != recipe.user_id%>

            <%= link_to '<i class="fa fa-eye"></i> View Profile'.html_safe, user_path(recipe.user_id), class: "btn btn-xs btn-default"%> 

             <%= link_to '<i class="fa fa-star-o"></i> Follow Chef'.html_safe, add_friend_path(user: current_user,friend: recipe.user_id), method: :post, class: "btn btn-xs btn-default"%> 
             <% elsif current_user and current_user.id == recipe.user_id %>
                <p class="lead no-padding no-margin"><i class="fa fa-star"></i> This is your recipe</p>
             <% end %>
        <% if current_user and current_user.can_add_recipe?(recipe.id)%>
                <% if current_user.id != recipe.user_id %>
              <%= link_to '<i class="fa fa-heart-o"></i> StartWatch'.html_safe, user_recipes_path(user_id: current_user,recipe_id: recipe.id), method: :post, class: "btn btn-xs btn-default"%>

              <% else %>

              <% end %>
          <% elsif current_user && current_user.id != recipe.user_id%>
            <%= link_to '<i class="fa fa-heart"></i> Watching Recipe'.html_safe, recipe_path(recipe), class: "btn btn-xs btn-default"%>
        <% end %>
        <% if current_user and current_user.id == recipe.user_id %>
        <div class="recipe-user-actions">
          <%= link_to "Editt",edit_recipe_path(recipe), :class => 'btn btn-primary btn-xs' %>
          <%= link_to "Delete",
                      recipe_path(recipe),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </div>

        <% end %>
        <% end %>
          </div>

    </div>
        <% end %>
<% end %>

<div align="center" >
<%= will_paginate %>
</div>

