<h2>My Chef friends</h2>

<% if @friendships.size > 0 %>

<% @friendships.each do |friend| %>
<div class="col-md-3 card bord margin-10 shadow" style="width: 40rem;">
  <div class="card-block">
    <h4 class="card-title"><%= friend.email %></h4>
    <p class="card-text"><%= friend.first_name%></p>
    <ul class="no-padding">

    <p class="no-margin no-padding">Recipes following</p>
    <hr class="no-padding no-margin">

    <% if friend.recipes%>
        <% friend.recipes.each do |recipe|%>
        <li class="col-md-3 no-bullets"><%=link_to "<i class='fa fa-star'></i> #{recipe.name}".html_safe, recipe_path(recipe),class: "label label-default"%></li>
        <% end %>
    <% else%>

    <% end %>
    </ul>
    <div class="col-md-12">
    <hr>

	<%=link_to "<i class ='fa fa-profile'></i> View Profile".html_safe, user_path(id: friend.id), 
			class:"btn btn-primary btn-xs col-md-4 blue" %> 
	<%= link_to "<i class = 'fa fa-share'></i> Unfollow chef".html_safe, friendship_path(current_user, friend_id: friend.id), method: :delete, class:"btn btn-default btn-xs col-md-4 green" %></div>
    <%# if current_user.id == @user.id%>
    <%#= link_to "View this", recipe_path(recipe), class: "btn btn-primary" %>

    <% #else %>

    <% #end %>

  </div>
</div>
<% end %>
	<% else %>

<div class="row col-lg-12">
	<p class="lead">
		No friends yet. Start follwing chefs!
	</p>
</div>
<% end %>